---
layout: default
title: category
---
<!-- 页头 -->
<div id="header">
        <img src="/assets/snowflake.png" id="headericon">&nbsp;sn0wp3ak.github.io &nbsp; <span>{{ page.title }}</span>
</div>
<!-- 菜单 -->
<div id="menu">
        <a href="/index">
                home
        </a>
        &nbsp;
        <a href="/archive">
                archive
        </a>
        &nbsp;
        <a href="/category">
		<b>category</b>
        </a>
        &nbsp;
        <a href="/tag">
                tag
        </a>
        &nbsp;
        <a href="/word">
                word
        </a>
        &nbsp;
	<span class=right>
		<a href="https://sn0wp3ak.github.io/Mind-Map">go to Mind-Map :)</a>
	</span>
</div>
<!-- 内容 -->
<div id="content">
        <!-- 侧边栏 -->
        <div id="nav">
                <li>
                <a href="/category">
			<font color="#71b9f8">
                        <b>overview</b>
			</font>
                </a>
                </li>
		{% for category in site.categories %}
			<li>
			<a href="/category_sub/{{category[0]}}">
				{{ category[0] }}
			</a>
			</li>
		{% endfor %}
        </div>
        <!-- 主体 -->
        <div id="main">
		<p>
			<img src="/assets/category.png">
		</p>
		category count: {{ site.categories | size }}
		<ul>
		{% for category in site.categories %}
			<li>
				<span>{{ category[0] }}</span>
			</li>
		{% endfor %}
		</ul>
  	</div>
</div>
