---
layout: default
title: word
---
<!-- 页头 -->
<div id="header">
        <img src="/assets/snowflake.png" id="headericon">&nbsp;sn0wp3ak.github.io &nbsp; <span>{{ page.title }}</span>
</div>
<!-- 菜单 -->
<div id="menu">
        <a href="/index">
                home
        </a>
        &nbsp;
        <a href="/archive">
                archive
        </a>
        &nbsp;
        <a href="/category">
		category
        </a>
        &nbsp;
        <a href="/tag">
		tag
        </a>
        &nbsp;
        <a href="/word">
		<b>word</b>
        </a>
        &nbsp;
	<span class=right>
		<a href="https://sn0wp3ak.github.io/Mind-Map">go to Mind-Map :)</a>
	</span>
</div>
<!-- 内容 -->
<div id="content">
        <!-- 侧边栏 -->
        <div id="nav">
		<li>
		<a href="/word">
			<font color="#71b9f8">
				<b>overview</b>
			</font>
		</a>
		</li>
		{% for category in site.categories %}
			{% if category[0] == "word" %}
				{% for post in category[1] %}
                			<li>
						<a href="{{post.url | prepend: site.baseurl | replace: '//', '/'}}">
						{{ post.title }}
                			</a>
                			</li>
				{% endfor %}
			{% endif %}
		{% endfor %}
        </div>
        <!-- 主体 -->
        <div id="main">
		<p>
			<img src="/assets/word.png">
		</p>
		word count:
		{% for category in site.categories %}
			{% if category[0] == "word" %}
				{{ category[1] | size }}
			{% endif %}
		{% endfor %}
		<br>
		<ul>
		{% for category in site.categories %}
			{% if category[0] == "word" %}
				{% for post in category[1] %}
                			<li>
						{{ post.title }}
                			</li>
				{% endfor %}
			{% endif %}
		{% endfor %}
		</ul>
  	</div>
</div>
