---
layout: default
title: archive
---
<!-- 页头 -->
<div id="header">
        sn0wp3ak.github.io &nbsp; <span>{{ page.title }}</span>
</div>
<!-- 菜单 -->
<div id="menu">
        <a href="/index">
                home
        </a>
        &nbsp;
        <a href="/archive">
                <b>archive</b>
        </a>
        &nbsp;
        <a href="/category">
                category
        </a>
        &nbsp;
        <a href="/tag">
                tag
        </a>
        &nbsp;
        <a href="/word">
                word
        </a>
        &nbsp;
        <a href="/map">
                map
        </a>
</div>
<!-- 内容 -->
<div id="content">
        <!-- 侧边栏 -->
        <div id="nav">
                <li>
                <a href="/archive">
			<font>
                       	    total
			</font>
                </a>
		</li>
    		{% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    		{% capture firstpostyear %}{{ site.posts[0].date | date: '%Y' }}{% endcapture %}
    		{% if currentyear == firstpostyear %}
			<li>
			<a href="/archive_sub/currentyear">
				{{ currentyear }}
			</a>
			</li>
    		{% else %}  
			<li><a>{{ firstpostyear }}</a></li>
    		{% endif %}
    		{%for post in site.posts %}
      			{% unless post.next %}
      			{% else %}
        			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        			{% if year != nyear %}
					{% if year == "2020" %}
					<li>
						
						<a href="/archive_sub/{{post.date | date: '%Y'}}">
							<font color="#71b9f8">
								<b>{{ post.date | date: '%Y' }}</b>
							</font>
						</a>
					</li>
					{% else %}
					<li><a href="/archive_sub/{{post.date | date: '%Y'}}">{{ post.date | date: '%Y' }}</a></li>
					{% endif %}
        			{% endif %}
      			{% endunless %}
    		{% endfor %}
        </div>
        <!-- 主体 -->
        <div id="main">
		{% include archive_list.html param="2020" %}
  	</div>
</div>
