{% for category in site.categories %}
	{% if category[0] == include.param %}
        <h2>{{ category[0] }}</h2>
		<!-- add category image -->
		{% if category[0] == "docker" %}
			<p>
			<img src="/assets/post_image/Moby-logo.png" height=50 weight=50><br>
			</p>
		{% elsif category[0] == "django" %}
			<p>
			<img src="/assets/post_image/django-logo.png" height="15%" width="15%"><br>
			</p>
		{% elsif category[0] == "vim" %}
			<p>
			<img src="/assets/post_image/vim-logo.jpg" height="13%" width="13%"><br>
			</p>
		{% elsif category[0] == "flask" %}
			<p>
			<img src="/assets/post_image/flask-logo.png" height="20%" width="20%"><br>
			</p>
		{% elsif category[0] == "ansible" %}
			<p>
			<img src="/assets/post_image/ansible-logo.png" height="8%" width="8%"><br>
			</p>
		{% elsif category[0] == "git" %}
			<p>
			<img src="/assets/post_image/git-logo.png" height="8%" width="8%"><br>
			</p>
		{% elsif category[0] == "linux" %}
			<p>
			<img src="/assets/post_image/linux-logo.png" height="8%" width="8%"><br>
			</p>

		{% elsif category[0] == "python" %}
			<p>
			<img src="/assets/post_image/python-logo.png" height="8%" width="8%"><br>
			</p>
		{% elsif category[0] == "java" %}
			<p>
			<img src="/assets/post_image/java-logo.png" height="8%" width="8%"><br>
			</p>
		{% endif %}
        <ul>
                {% for post in category[1] %}
                        <li>
			{{post.date | date:"%Y %b %d"}}  -
			<a href="{{post.url | prepend: site.baseurl | replace: '//', '/'}}">
				{{post.title}}
                        </a>
                        </li>
                {% endfor %}
        </ul>
	{% endif %}
{% endfor %}

