{% for category in site.categories %}
	{% if category[0] == include.param %}
        <h1>{{ category[0] }}</h1>
		<!-- add category image -->
		{% if category[0] == "docker" %}
			<p>
			<img src="/assets/post_image/Moby-logo.png" height="50" width="69.72"><br>
			</p>
		{% elsif category[0] == "django" %}
			<p>
			<img src="/assets/post_image/django-logo.png" height="50" width="109.89"><br>
			</p>
		{% elsif category[0] == "vim" %}
			<p>
			<img src="/assets/post_image/vim-logo.jpg" height="50" width="68.19"><br>
			</p>
		{% elsif category[0] == "flask" %}
			<p>
			<img src="/assets/post_image/flask-logo.png" height="50" width="118.06"><br>
			</p>
		{% elsif category[0] == "ansible" %}
			<p>
			<img src="/assets/post_image/ansible-logo.png" height="50" width="50"><br>
			</p>
		{% elsif category[0] == "git" %}
			<p>
			<img src="/assets/post_image/git-logo.png" height="50" width="50"><br>
			</p>
		{% elsif category[0] == "linux" %}
			<p>
			<img src="/assets/post_image/linux-logo.png" height="50" width="42.22"><br>
			</p>

		{% elsif category[0] == "python" %}
			<p>
			<img src="/assets/post_image/python-logo.png" height="50" width="50"><br>
			</p>
		{% elsif category[0] == "java" %}
			<p>
			<img src="/assets/post_image/java-logo.png" height="50" width="37.7"><br>
			</p>
		{% elsif category[0] == "windows" %}
			<p>
			<img src="/assets/post_image/windows-logo.jpg" height="50" width="50"><br>
			</p>
		{% endif %}
        <ul>
                {% for post in category[1] %}
                        <li>
			{{post.date | date:"%Y %b %d"}}  -
			<a href="{{post.url | prepend: site.baseurl | replace: '//', '/'}}">
				{{post.title}}
                        </a>
                        </li>
                {% endfor %}
        </ul>
	{% endif %}
{% endfor %}

