<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><button type="button"><h2 class="header-link">Archive</h2></button></a>
<a href="{{ "/category" | prepend: site.baseurl | replace: '//', '/' }}"><button type="button"><h2 class="header-link">Category</h2></button></a>
<a href="{{ "/tag" | prepend: site.baseurl | replace: '//', '/' }}"><button type="button"><h2 class="header-link">Tag</h2></button></a>
<a href="{{ "/word" | prepend: site.baseurl | replace: '//', '/' }}"><button type="button"><h2 class="header-link">Word</h2></button></a>
<a href="{{ "/map" | prepend: site.baseurl | replace: '//', '/' }}"><button type="button"><h2 class="header-link">Map</h2></button></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><button type="button"><h2 class="header-link">About</h2></button></a>
<!-- <a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a> -->
