<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/category" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Category</h2></a>
<a href="{{ "/tag" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Tag</h2></a>
<a href="{{ "/word" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Word</h2></a>
<a href="http://sn0wp3ak.github.io/Mind-Map"><h2 class="header-link">Map</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<!-- <a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a> -->
