{% for tag in site.tags %}
        {% if tag[0] == include.param %}
        <h1>{{ tag[0] }}</h1>
		{% if tag[0] == "apache" %}
			<p>
				<img src="/assets/post_image/httpd.png" height=50 width=130.9><br>
			</p>
		{% elsif tag[0] == "mysql" %}
			<p>
				<img src="/assets/post_image/mysql-logo.png" height=50 width=73.91><br>
			</p>
		{% elsif tag[0] == "redis" %}
			<p>
				<img src="/assets/post_image/redis-logo.png" height=50 width=72.6><br>
			</p>

		{% endif %}
        <ul>
                {% for post in tag[1] %}
                        <li>
                        {{post.date | date:"%Y %b %d"}}  -
                        <a href="{{post.url | prepend: site.baseurl | replac    e: '//', '/'}}">
                                {{post.title}}
                        </a>
                        </li>
                {% endfor %}
        </ul>
        {% endif %}
{% endfor %}

