{% for tag in site.tags %}
        {% if tag[0] == include.param %}
        <h2>{{ tag[0] }}</h2>
        <ul>
                {% for post in tag[1] %}
                        <li>
                        {{post.date | date:"%Y %b %d"}}  -
                        <a href="{{post.url | prepend: site.baseurl | replac    e: '//', '/'}}">
                                {{post.title}}
                        </a>
                        </li>
                {% endfor %}
        </ul>
        {% endif %}
{% endfor %}

