/*
   original: https://github.com/pages-themes/hacker 
*/

$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
// my custom colors
$orange: #fe8019;
$blue: #1e90ff;
$yellow: #fabd2f;
$aqua: #8ec07c;
$green: #b8bb26;
$purple: #d3869b;
$red: #fb4934;
$fg: #000000;
$bg: #fffafa;
$grey: #928374;
$skyblue: #87ceeb;
$royalblue: #4169e1;
$slateblue: #6a5acd;
$deepskyblue: #00bfff;
