/*
   original: https://github.com/pages-themes/hacker 
*/

$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
// my custom colors
$orange: #ce9178;
$blue: #569cd6;
$yellow: #dcdcaa;
$aqua: #4169e1;
$green: #609b4e;
$purple: #d3869b;
$red: #f44747;
$fg: #d4d4d4;
$bg: #1e1e1e;
$grey: #808080;
$lightblue: #9cdcfe;
$bluegreen: #4ec9b0;
$lightgreen: #b5cea8;
$yelloworange: #d7ba7d;
$lightred: #d16969;
$pink: #c586c0;
$violet: #646695;
