$backgroundColor: #f7f7f7;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";


body {
  padding: 0;
  margin: 0;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

pre {
  background: $bodyColor;
  color: $backgroundColor;
  border-left: 10px solid $bodyColor;
  border-right: 10px solid $bodyColor;
  border-top: 15px solid $bodyColor;
  border-bottom: 20px solid $bodyColor;
  font-size: 16px;
}
