$backgroundColor: #f7f7f7;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$prebg: #151515;
$pregreen: #99ad6a;
$prefg: #e8e8d3;
$preblue: #597bc5;
$precyan: #71b9f8;
$preyellow: #d8ad4c;
$pregrey: #888888;
$prered: #cf6a4c;

$green: #008000;


body {
  padding: 0;
  margin: 0;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 18px;
}

#indexpre {
  background: $prebg;
  color: $pregreen;
  border-left: 10px solid $prebg;
  border-right: 10px solid $prebg;
  border-top: 15px solid $prebg;
  border-bottom: 20px solid $prebg;
  font-size: 16px;
}

pre {
  background: $prebg;
  color: $prefg;
  border-left: 10px solid $prebg;
  border-right: 10px solid $prebg;
  border-top: 15px solid $prebg;
  border-bottom: 20px solid $prebg;
  font-size: 16px;
}

blockquote {
  color: $bodyColor;
  background: $backgroundColor;
  border-left: 3px dotted $bodyColor;
  padding-left: 10px;
}

code.highlighter-rouge {
  color: $green;
  border-left: 4px solid $backgroundColor;
  border-right: 4px solid $backgroundColor;
}

#note table {
  width: 100%;
  margin: 0 0 0 0;
  background: $prefg;
}

#note th {
  text-align: left;
  border: 2px solid $bodyColor;
  padding: 5px 10px;
}

#note td {
  padding: 5px 10px;
  border: 2px solid $bodyColor;
}

.highlight {

  .k {
    color: $preblue;
  }

  .ow {
    color: $preblue;
  }

  .kn {
    color: $precyan;
  }

  .nf {
    color: $preyellow;
  }

  .bp {
    color: $preyellow;
  }

  .s {
    color: $pregreen;
  }
  
  .c, .c1, .cd, .cm, .cs {
    color: $pregrey;
  }

  .mi {
    color: $prered;
  }
}
