$bg: #ffffff;
$fg: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$tablebg: #fafafa;

$prebg: #fff;
$prefg: #24292e;
$preblue: #005cc5;
$pregrey: #6a737d;
$prered: #d73a49;
$prepurple: #6f42c1;
$preorange: #e36209;


#header {
  background: #eee;
  color: #1177aa;
  font-size: 1.50em;
  clear: both;
  padding: 0.7ex 0.7ex 0.7ex 1em;
}

#header span {
  color: #555555;
}

#menu {
  clear: both;
  color: $fg;
  background: #17a;
  overflow: hidden;
  padding: 0.7ex;
  border-top: 1px solid $bg;
  border-bottom: 1px solid #069;
}

#menu a {
  color: $bg;
  padding: 0.5ex 1ex;
  text-decoration: none;
}

#menu a:hover {
  background: #069;
}

#menu span {
  float: right;
  color: $bg;
}

#nav {
  float: left;
  margin: 0 1px 0 0;
  padding: 1em 0;
  border-right: 1px dotted #ccc;
  width: 200px;
  color: $fg;
  background: $bg;
}

#nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li a {
  display: block;
  margin: 0;
  padding: 0.8ex 2em 0.8ex 1em;
}

#nav a:hover {
  background: #ddd;
  color: #d73a49;
}

#main {
  margin: 0 0 0 200px;
  max-width: 50em;
  padding: 1.5em;
}




body {
  padding: 0;
  margin: 0;
  background: $bg;
  color: $fg;
  font-family: sans-serif;
}


pre {
  background: #f7f9f9;
  color: $prefg;
  font-size: 16px;
  font-weight: 530;
  padding: 15px;
  overflow: auto;
}

blockquote {
  color: $fg;
  background: $bg;
  border-left: 5px solid #ccc;
  padding-left: 10px;
}

code.highlighter-rouge {
  color: #005cc5;
  background: $bg;
  border-left: 2px solid $bg;
  border-right: 2Px solid $bg;
  font-size: 1.3em;
  font-weight: 700;
  padding-left: 1px;
  padding-right: 1px;
}

#main table {
  width: 100%;
  margin: 1px 1px 1px 1px;
  background: $tablebg;
  color: #000000;
  border-collapse: collapse;
}

#main th {
  text-align: left;
  border: 1px solid #000;
  padding: 5px 10px;
}

#main td {
  padding: 5px 10px;
  border: 1px solid #000;
}

.highlight {

  .k , .o {
    color: $prered;
  }

  .ow {
    color: $preblue;
  }

  .kn {
    color: $prered;
  }

  .nb {
    color: $preorange;
  }

  .nf {
    color: $prepurple;
  }

  .bp {
    color: $preblue;
  }

  .s {
    color: #032f62;
  }
  
  .c, .c1, .cd, .cm, .cs {
    color: $pregrey;
  }

  .mi {
    color: $preblue;
  }
}

#nav a {
  color: #005386;
  text-decoration: none;
}

#nav b {
  color: #005386;
}


#main a {
  color: #005cc5;
  text-decoration: none;
}

#main a:hover {
  color: #d73a49;
  background: #ddd;
  text-decoration: none;
}

h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.4em;
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.3em;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 0.9em;
}


.circle_square {
	border-radius:50%;
}
