---
layout: default
title: word
---
<!-- 页头 -->
<div id="header">
        sn0wp3ak.github.io &nbsp; <span>word</span>
</div>
<!-- 菜单 -->
<div id="menu">
        <a href="/index">
                home
        </a>
        &nbsp;
        <a href="/archive">
                archive
        </a>
        &nbsp;
        <a href="/category">
		category
        </a>
        &nbsp;
        <a href="/tag">
		tag
        </a>
        &nbsp;
        <a href="/word">
		<b>word</b>
        </a>
        &nbsp;
        <a href="/map">
                map
        </a>
</div>
<!-- 内容 -->
<div id="content">
        <!-- 侧边栏 -->
        <div id="nav">
		<li>
		<a href="/word">
			<font>
			all
			</font>
		</a>
		</li>
		{% for category in site.categories %}
			{% if category[0] == "Word" %}
				{% for post in category[1] %}
					{% if post.title == page.title %}
                			<li>
						<a href="{{post.url | prepend: site.baseurl | replace: '//', '/'}}">
							<font color="#71b9f8">
							<b>{{ post.title }}</b>
							</font>
                			</a>
                			</li>
					{% else %}
                			<li>
						<a href="{{post.url | prepend: site.baseurl | replace: '//', '/'}}">
						{{ post.title }}
                			</a>
                			</li>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
        </div>
        <!-- 主体 -->
        <div id="main">
		{{ content }}
  	</div>
</div>
